<h2>Edit lesson</h2>

<form action="/lessons/edit/{{_id}}" method="post">

    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="{{name}}">

    <label for="description">Description</label>
    <input type="text" name="description" id="description" value="{{description}}">

    <label for="imageUrl">Image</label>
    <input type="text" name="imageUrl" id="imageUrl" value="{{imageUrl}}">

    <button type="submit">Edit lesson</button>

</form>