<div class="fix-center">

      <div class="center">

            <h2>Find A Lesson</h2>

      </div>

      <form class="login-signup" action="/lessons/results" method="get">

            <label> Type of Lesson:

                  <select class="input" value="type" name="lessonType">
                        <option value="crossfit">CrossFit</option>
                        <option value="personal-training">Personal training</option>
                        <option value="yoga">Yoga</option>
                        <option value="meditation">Meditation</option>
                        <option value="zumba">Zumba</option>
                        <option value="pilates">Pilates</option>
                        <option value="cycling">Cycling</option>
                  </select>

            </label>


            <div class="center">
                  <button type="submit">Search</button>
            </div>
      </form>

</div>