<div class="center">

      <h2>Find A Lesson</h2>

</div>

<form class="login-signup" action="/lessons/results" method="get">

      <label> Type of Lesson:

            <select class="input" value="type" name="lessonType">
                  <option value="you-name-it">You name it</option>
                  <option value="yoga">Yoga</option>
                  <option value="crossfit">Crossfit</option>
                  <option value="dancing">Dancing</option>
            </select>

      </label>


      <div class="center">
            <button type="submit">Search</button>
      </div>
</form>