<div class="fix-center">
      <div class="center">
            <h2>Add a lesson</h2>
      </div>
      <form class="login-signup" action="/lessons/new" method="post">

            <label for="name">Name:</label>
            <input type="text" name="name">

            <label for="description">Description:</label>
            <input type="text" name="description">

            <label for="imageUrl">Image:</label>
            <input type="text" name="imageUrl">

            <label for="type">Type: </label>
            <select name="type" value="type">
                  <option value="crossfit">CrossFit</option>
                  <option value="personal-training">Personal training</option>
                  <option value="yoga">Yoga</option>
                  <option value="meditation">Meditation</option>
                  <option value="zumba">Zumba</option>
                  <option value="pilates">Pilates</option>
                  <option value="cycling">Cycling</option>
            </select>

            <label for="price">Set price:</label>
            <input type="number" name="price">

            <label for="format">Format: </label>
            <select name="format" value="format">
                  <option value="online">Online</option>
                  <option value="in-person">In-person</option>
            </select>

            <button type="submit">Add lesson</button>

      </form>

</div>