<h2>Add a lesson</h2>

<form action="/lessons/new" method="post">

    <label for="name">Name</label>
    <input type="text" name="name" id="name">

    <label for="description">Description</label>
    <input type="text" name="description" id="description">

    <label for="imageUrl">Image</label>
    <input type="text" name="imageUrl" id="imageUrl">

    <label for="type">Type: </label>
    <select name="type" value="type">
          <option value="you-name-it">You name it</option>
          <option value="yoga">Yoga</option>
          <option value="crossfit">Crossfit</option>
          <option value="dancing">Dancing</option> 
    </select>

     <label for="price">Set price</label>
    <input type="number" name="price" id="price">

    <label for="format">Format: </label>
     <select name="format" value="format">
          <option value="online">Online</option>
          <option value="in-person">In-person</option>
    </select>

    <button type="submit">Add lesson</button>

</form>