<h2>Add a lesson</h2>

<form action="/lessons/new" method="post">

    <label for="name">Name</label>
    <input type="text" name="name" id="name">

    <label for="description">Description</label>
    <input type="text" name="description" id="description">

    <label for="imageUrl">Image</label>
    <input type="text" name="imageUrl" id="imageUrl">

     <label for="price">Set price</label>
    <input type="number" name="price" id="price">

    <button type="submit">Add lesson</button>

</form>