<div class="center">
    <div class="center">
        <h2>Payment proceed</h2>
    </div>

    <div class="center">
        <p>Thank you for your payment!</p>
    </div>

    <div class="center">
        <a class="button" href="../../user/user-profile">Go back<a />
    </div>
</div>