<form action="/ai-profile-img/update-user-img" method="post">
         <div class = "imageSelectorHeading">
        <h1> Update Profile Picture</h1>
    
      <label for="images-section">Image Generator </label>
    <input type="images-section" name="userPrompt" placeholder="">

    <button id= "submit-icon" type="submit">Search</button>
    </div>
   
    </form>
