<div class="form">
  <h2>Create a User Profile</h2>
  <form class="login-signup" action="/user-auth/user-signup" method="POST">

    <label> Full Name:</label>
      <input type="text" name="fullName" placeholder="John Smith" />

    <label> Email:</label>
      <input type="email" name="email" placeholder="Johnsmith@hotmail.com" />

    <label> Password:</label>
      <input type="password" name="password" placeholder="********" />

<div class="center">

    <button type="submit">Create account</button>

</div>

<div class="center">
    <p>Already have an account?
    <a href="/user-auth/user-login">Log in</a></p>
</div>

    {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
    {{/if}}

  </form>
</div>