<div class="form">
  <div class="center">
  <h2>User log in</h2>
</div>
  <form class="login-signup" action="/user-auth/user-login" method="POST">

    <label> Email: </label>
      <input type="email" name="email" placeholder="JohnSmith@hotmail.com" />

    <label>Password: </label>
      <input type="password" name="password" placeholder="********" />
    
<div class="center">
    <button type="submit">Login</button>
</div>

    <div class="=center">
    <p>Don't have an account yet?
    <a href="/user-auth/user-signup">Sign up</a></p>
</div>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>