<div class="center">
    <h2>About us</h2>
</div>

<div class="lesson-details">

    <div class="lesson-name-picture">
        <h3>Lev (designer)</h3>

        <img class="profile-picture" src="/images/LevZep_ProfilePic.png" alt="Lev">
    </div>

    <div class="us-info">
        <p>Lev developed his creative skills in software like Photoshop, Premiere, Ableton, and more while living abroad
            in Asia for 10+ years before recently beginning his UI/UX journey with Ironhack. In his free time he enjoys
            rock climbing, traveling, anything tropical, and enchiladas</p>
    </div>
</div>

<div class="lesson-details">

    <div class="lesson-name-picture">
        <h3>Aleksei (web developer)</h3>

        <img class="profile-picture" src="/images/IMG_1082.jpg" alt="Aleksei">
    </div>

    <div class="us-info">
        <p>Aleksei started his web development journey since 1st grade in the tech university in Mosvow, Russia. He created his problem solving skills with learning C++, Pascal and Assembly in University and then Objective-C and Swift by himself, but didn't work in tech companies. Recenly decided to become a real fullStack web dev with Ironhack team. In his free time he enjoys spending time with friends and family, visit new places and travel the world.</p>
    </div>

</div>

<div class="lesson-details">

    <div class="lesson-name-picture">
        <h3>Armani (web developer)</h3>

        <img class="profile-picture" src="/images/IMG_3077.png" alt="Armani">
    </div>
    
    <div class="us-info">
        <p>Armani first became interested in web development while working at a tech start up as an intern. He is a Cuban-American and was born in New Orleans, Louisiana. He enjoys spending time with family and playing sports such as soccer, tennis, golf, football, etc...</p>
    </div>
</div>
