
<div class="center">
<h2>About us</h2>
</div>

<h3>Designer:</h3>

<p>designer image info</p>

<h3>Web Developer: </h3>

<p>web dev image info</p>

<h3>Web developer: </h3>

<p>web dev image info</p>
