<div class="center">
    <h2>About us</h2>
</div>

<div class="lesson-details">

    <div class="lesson-name-picture">
        <h3>Lev (designer)</h3>

        <img src="" alt="Lev">
    </div>
    <div class="lesson-info">
        <p>Lev developed his creative skills in software like Photoshop, Premiere, Ableton, and more while living abroad
            in Asia for 10+ years before recently beginning his UI/UX journey with Ironhack. In his free time he enjoys
            rock climbing, traveling, anything tropical, and enchiladas</p>
    </div>
</div>

<div class="lesson-details">

    <div class="lesson-name-picture">
        <h3>Aleksei (web developer)</h3>

        <img src="" alt="Aleksei">
    </div>
    <div class="lesson-info">
        <p>web dev info</p>
    </div>

</div>

<div class="lesson-details">

    <div class="lesson-name-picture">
        <h3>Armani (web developer)</h3>

        <img src="" alt="Armani">
    </div>
    <div class="lesson-info">
        <p>web dev info</p>
    </div>
</div>