<div class="fix-center">
    <div class="form">
        <div class="center">
            <h1>Welcome!</h1>
        </div>
        <div class="center">
            <p>Please choose user's type:</p>
        </div>

        <div id="choice">
            <a class="button" href="/creator-auth/creator-login"><span class="button-content">Creator</span></a>

            <a class="button" href="/user-auth/user-login"><span class="button-content">User</span></a>

        </div>

        <div class="center">
            <p>Search for lessons:</p>
        </div>
        <div class="center">
            <a class="button" href="/lessons/find">Find lessons</a>
        </div>

    </div>

</div>