<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav>
    <a href="/">Home</a>

    <a href="/lessons/all">All lessons</a>

    {{#if loggedInCreator}}

    <a href="/creators/creator-profile">My Profile</a>

    <a href="/creator-auth/creator-logout">Log out</a>

    {{else}}

    <a href="/creator-auth/creator-login">Creator</a>

    {{/if}}

  </nav>

  {{{body}}}

</body>

</html>