<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body style="background-image: url('/images/green-orange.png')">

  <div id="whole-page">

    <nav id="nav">

      <a href="/"><img id="logo" src="/images/WTD_PNG_V1.png" alt="logo"></a>

      <a class="nav-link" href="/lessons/all">All lessons</a>

      <a class="nav-link" href="/about">About</a>

      {{#if loggedInCreator}}

      <a class="nav-link" href="/creators/creator-profile">My Profile</a>

      <a class="nav-link" href="/creator-auth/creator-logout">Log out</a>

      {{/if}}

      {{#if loggedInUser}}

      <a class="nav-link" href="/user/user-profile">My Profile</a>

      <a class="nav-link" href="/user-auth/user-logout">Log out</a>

      {{/if}}

    </nav>

    {{{body}}}

  </div>
</body>

</html>