<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
</head>

<body>

  <nav>
    <a href="/">Home</a>

    <a href="/lessons/all">All lessons</a>

    {{#if loggedInCreator}}

    <a href="/creators/creator-profile">My Profile</a>

    {{else}}

    <a class="nav-creator-user" href="/creator-auth/creator-login">Creator</a>

    {{/if}}

    {{#if loggedInUser}}

    <a href="/user/user-profile">My Profile</a>

    {{else}}

    <a class="nav-creator-user" href="/user-auth/user-login">User</a>

    {{/if}}

  </nav>

  {{{body}}}

  <hr>
  <p>
    @Ironhackers 2023
    <a href="/about">About us</a>
  </p>
</body>

</html>