<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>

  <div id="whole-page">

    <nav id="nav">
      <a href="/">Home</a>

      <a href="/lessons/all">All lessons</a>

      <a href="/about">About</a>

      {{#if loggedInCreator}}

      <a href="/creators/creator-profile">My Profile</a>

      <a href="/creator-auth/creator-logout">Log out</a>

      {{/if}}

      {{#if loggedInUser}}

      <a href="/user/user-profile">My Profile</a>

      <a href="/user-auth/user-logout">Log out</a>

      {{/if}}

    </nav>

    {{{body}}}

  </div>
</body>

</html>