<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <a href="/">Home</a>
      
      <a href="/lessons/all">See lessons</a>

      <a href="/creator-auth/creator-login">Creator</a>

       <a href="/lessons/all">See my lessons</a>
    <a href="/lessons/new">Add a lesson</a>

    </nav>

    {{{body}}}

  </body>
</html>
