body {
  font: 14px;
  font-family: "Archivo";
  display: flex;
}

a {
  color: #00B7FF;
}

img {
  width: 300px;
  height: 180px;
}

.error {
  background-color: #eb3636;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.orange-black {
  background-color: red;
  background-image: linear-gradient(to bottom, #D95D39, black);
}


#nav {
  display: flex;
  justify-content: space-between;
  width: 78vw;
  height: 15hv;
  padding-left: 10vw;
  padding-right: 10vw;
  align-items: center;
}

#choice {
  display: flex;
  justify-content: space-evenly;

}

#whole-page {
  display: flex;
  flex-direction: column;
}

.button {
  width: 23.6vw;
  height: 6vh;
  background-color: #D95D39;
  color: white;
  border: 8px #D95D39;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  margin: 10px;
  font-style: normal;
}

button {
  width: 23.6vw;
  height: 6vh;
  background-color: #D95D39;
  color: white;
  border: 8px #D95D39;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  color: white;
  margin: 10px;
}

.button-content {
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 600;
  padding: 1.17hv;
}

.font-white {
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.login-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 32vw;
}

input {
  width: 32vw;
}

.lesson {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}

.lesson-details {
  display: flex;
  flex-direction: row;
  
}

.lesson-name-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
}

.lesson-info {
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  margin-right: 10vw;
}

.mini-nav {
  display: flex;
  justify-content: space-around;
}

.fix-center {
  padding-top: 20vh;
}

#review {
  display: flex;
  flex-direction: row;
}

.us-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

#logo {
  width: 80px;
  height: 80px;
}

.imageGenerator {
  width:100%;
  max-width:600px;
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content:space-between ;
  padding:10px;
  align-items: center;

}

.imageSelectorHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageCreatorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#generator-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

#generator-container > * {
  width: calc(100% / 2);
}

#generator-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
