<div class="fix-center">

  <div class="form">

    <h1>Create a Brand Profile</h1>


    <form class="login-signup" action="/creator-auth/creator-signup" method="POST">

      <label> Full Name:</label>
      <input type="text" name="fullName" placeholder="Iron Hacker" />


      <label> Email:</label>
      <input type="email" name="email" placeholder="email@email.com" />

      <label> Password: </label>
      <input type="password" name="password" placeholder="password********" />


      <label> Occupation: </label>

      <select class="input" value="occupation" name="occupation">
        <option value="crossfit">CrossFit</option>
        <option value="personal-training">Personal training</option>
        <option value="yoga">Yoga</option>
        <option value="meditation">Meditation</option>
        <option value="zumba">Zumba</option>
        <option value="pilates">Pilates</option>
        <option value="cycling">Cycling</option>
      </select>

      <div class="center">
        <button type="submit">Create account</button>
      </div>

      <div class="center">
        <p>Already have an account?
          <a href="/creator-auth/creator-login">Log in</a>
        </p>
      </div>


      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
      {{/if}}

    </form>
  </div>

</div>