<div id="form">
  <h2>Log in</h2>

  <form action="/creator-auth/creator-login" method="POST">

    <label> Email
      <input type="email" name="email" placeholder="ironhack@ironhack.com" />
    </label>

    <label>Password</label>
    <input type="password" name="password" placeholder="********" />


    <button type="submit">Login</button>

    <input type="reset" value="Reset">

    <div>
      <div>Don't have an account yet?</div>
      <a href="/creator-auth/creator-signup">Sign up</a>
    </div>

    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>