<div class="fix-center">

    <div class="form">

        <h2>Update profile</h2>

        <form class="login-signup" action="/creators/update-creator-profile" method="post">

            <label for="fullName">Full Name: </label>
            <input type="text" name="fullName" value="{{fullName}}">

            <label for="password">Password: </label>
            <input type="password" name="password" placeholder="password********">

            <label for="email">Email: </label>
            <input type="email" name="email" value="{{email}}">

            <label> Occupation: </label>




            <select class="input" value="occupation" name="occupation">
                <option value="crossfit">CrossFit</option>
                <option value="personal-training">Personal training</option>
                <option value="yoga">Yoga</option>
                <option value="meditation">Meditation</option>
                <option value="zumba">Zumba</option>
                <option value="pilates">Pilates</option>
                <option value="cycling">Cycling</option>
            </select>
            <div class="center">

                <a class="button" href="/ai-profile-img/update-creator-img">Update profile image</a>
            </div>
            <div class="center">
                <button type="submit">Update profile</button>

            </div>

        </form>

    </div>

</div>