<h2>Update profile</h2>

<form action="/creators/update-creator-profile" method="post">

    <label for="fullName">Full Name: </label>
    <input type="text" name="fullName" id="fullName" value="{{fullName}}">

    <label for="password">Password: </label>
    <input type="password" name="password" placeholder="********">

    <label for="email">Email: </label>
    <input type="email" name="email" id="email" value="{{email}}">

    <label> Occupation: 

    <select value=“Occupation:” onChange={handleFilter}>
          <option value="you-name-it">You name it</option>
          <option value="yoga">Yoga</option>
          <option value="crossfit">Crossfit</option>
          <option value="dancing">Dancing</option> 
    </select>
    </label>

    <button type="submit">Update</button>

</form>

<a href="/ai-profile-img/update-creator-img" >Update profile image</a>



