<form action="/ai-profile-img/update-creator-img" method="post">
        
        <h1> Update Profile Picture</h1>
    
      <label for="images-section">Image Generator </label>
    <input type="images-section" name="userPrompt" placeholder="">

    <button id= "submit-icon" type="submit">Search</button>
   
    </form>




