<div>


    <h2>Welcome, {{creator.fullName}}</h2>
    <img src="{{creator.profileImage}}" alt="user image"/>
    <a href="/creators/update-creator-profile">Update Profile</a>


    <a class="button" href="/lessons/new">Add a lesson</a>

    </div>

    {{#if lessons}}

        <h3>Listed lessons</h3>

        {{#each lessons}}

            <a href="/lessons/details/{{_id}}">{{name}}</a>

        {{/each}}

    {{/if}}
    
</div>