<div>

    <h1>Welcome, {{creator.fullName}}!</h1>
    
    <p>

    <a class="button" href="/creators/update-creator-profile">Update Profile</a>

    <a class="button" href="/lessons/new">Add a lesson</a>

    </p>

    {{#if lessons}}

        <h3>Listed lessons</h3>

        {{#each lessons}}

            <a href="/lessons/details/{{_id}}">{{name}}</a>

        {{/each}}

    {{/if}}
    
</div>