<div>

    <h2>Welcome, {{ user.fullName }}</h2>

    <div>Log out
          <a href="/user-auth/user-logout">Log out</a>
    </div>

    <a href="/user/update-user-profile">Update Profile</a>
   
    <a href="/lessons/all">See All Lessons</a>
    <a href="/lessons/find">Find a Lesson</a>

</div>